

p {
    margin: 0.5em 0em 0.5em 0em;
    line-height: 1.2em;
}




body {font-family:arial, verdana, helvetica;font-size:100%; overscroll-behavior: contain;}

body {-webkit-text-size-adjust: 100%; }

table {border-collapse:collapse;}
td,th {border:1px solid black;}
td,th {min-width:1.6em; text-align:center; vertical-align:middle}

input, textarea, keygen, select, button, isindex  {font-family:arial, verdana, helvetica;font-size:inherit}

button {
border-radius: 2px;
border: solid 1px grey;
margin:2px;
padding:1px 6px;
background:#ddd;
}


.mainDiv {
  margin: 0em auto;
  height: 100%;
  width:100%;
  display: flex;
  flex-direction: column;
  max-width:800px
}
.contDiv {
    flex:1 1 auto; 
    overflow-y:scroll;
    height:100%
}
.footDiv {margin: 0em auto;
    max-width: 800px;
    width: 100%;
    padding: 1.2em 0 1em;
    border-top: solid 1px;
    box-sizing: border-box;
    position:relative;
    flex:0 0 auto;
    display:flex;
    align-items:center;
    justify-content:space-between
}

span.message{
  border:black 1px solid;
  position:fixed;
  /*_position:absolute;*/
  bottom:0%;
  right:0%;
  margin:0;
  padding:1px;
  /*#background:lightgray;*/
  background-color:#F7F700;
  font-size: 0.8em;
  z-index: 10000;
 }
 

.popupHover {
  position:absolute;
  z-index:10000; 
  padding: 3px;
  margin-left: 10px;
  margin-top: 5px;
  width: 250px;
  border: 1px solid black;
  background-color: #777;
  color: white;
  font-size: 0.95em;
}



.blanket{
  position: relative;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity:0.5;
  position: fixed;
  top:0px;
  z-index: 9001;
}

.Center-Container {
  position: relative;
}

.Center {
  max-width:300px;
  min-width:200px;
  overflow: auto;  
  margin: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: #eeeeee;
  box-sizing: border-box;
  border:1px solid;
  z-index: 9002;
  transform: translate(-50%,-50%);
}





